<div class="container mt-4">
  <h2>Liste des Projets</h2>
  <div *ngIf="errorMessage" class="alert alert-danger">
    {{ errorMessage }}
  </div>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>ID</th>
      <th>Nom du Projet</th>
      <th>Description</th>
      <th>Date de Début</th>
      <th>Date de Fin</th>
      <th>Budget</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let projet of projets">
    <td>{{ projet.id }}</td>
    <td>{{ projet.nom }}</td>
    <td>{{ projet.description }}</td>
    <td>{{ projet.dateDebut}}</td>
    <td>{{ projet.dateFin}}</td>
    <td>{{ projet.budget}}</td>
    <td>
      <button class="btn btn-info" (click)="toTaches(projet.id)">Voir Tâches</button>
      <button class="btn btn-primary" (click)="addTache(projet.id)">Ajouter Tâche</button>
    </td>
    </tr>
    </tbody>
  </table>
</div>
